<h1>All toys</h1>
<% @toys.each do |toy| %>
  <h2><%= toy.name %></h2>
  <p>Width: <%= toy.price %></p>
  <p>Height: <%= toy.image %></p>
<% end %>

<a href="/toys/<%= toy.id %>">More info</a>
<a href="/toys/new">New toy</a>
